.cell-div {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.cell {    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.75s cubic-bezier(.2, .85, .4, 1.275);
    box-shadow: 1px 1px 0 0 #707070, 2px 2px 4px -1px #5d5d5d;
    border: 1px solid #707070;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    font-size: calc(var(--font-size)  * 2);
    font-weight: 600;
    cursor: default;
}

.cell-front {
    z-index: 0;
    transform: rotateY(-180deg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.cell-front-reverse {
    z-index: 2;
    transform: rotateY(0deg);
}

.cell-back {
    z-index: 1;
    transform: rotateY(0deg);
    background-color: #dbe5ee;
    cursor: pointer;
}

.preparation-back {
    cursor: default;
}

.cell-back.greens {
    background-image: url(../Img/Covers/greens.jpg);
    background-size: 100% 100%;
}

.cell-back.blacks {
    background-image: url(../Img/Covers/blacks.jpg);
    background-size: 100% 100%;
}

.cell-back-reverse {
    z-index: -1;
    transform: rotateY(180deg);
}

.cell-div[data-type="1"] {
    color: #009dff;
}

.cell-div[data-type="2"]  {
    color: #46c656;
}

.cell-div[data-type="1"] > .cell-back {
    background-color: #d8f0ff;
}

.cell-div[data-type="2"] > .cell-back  {
    background-color: #d8ffed;
}

.valid-drop {
    /* border: 3px dashed #c38bfa; */
    /* border: 3px dashed #439906; */
    border: 3px dashed #ffffff;
}

.invalid-drop {
    /* border: 2px dashed red; */
}

[draggable=true] div {
    cursor: move;
}

.cell-label-power {
    /* position: absolute;
    bottom: 0; */
    font-size: calc(var(--font-size)* 1);
    line-height: calc(var(--font-size)* 1.25);
    width: 100%;
    padding: 0 0.5rem;
    text-align: right;
    /* background-image: radial-gradient(#aaaaaaaa 20%, transparent 70%); */
    /* color: white;
    text-shadow: 0px 0px 3px #d8d8d88a;: 0px 0 3px black; */
}

.cell-label-power.greens {
    text-align: left;
    color: #007307;
    text-shadow: 0px 0px 3px #d8d8d88a, 0px 0 3px #175300;
}

.cell-label-power.blacks {
    right: 0;
    color: #000000;
    text-shadow: 0px 0px 3px #d8d8d88a,  0px 0 3px #ff0000;
}

.cell-label-icon-div {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(var(--font-size)* 1.25);
    width: calc(var(--font-size)* 1.25);
    filter: drop-shadow(0px 0px 2px black);
}

.cell-label-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(var(--font-size)* 1.25);
    width: calc(var(--font-size)* 1.25);
    background-color: white;
    mask-size: 70%;
    mask-position: 50% 60%;
    mask-repeat: no-repeat;
}