.bonus-button {
    width: calc(var(--card-width) / 2);
    max-width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition-property: transform, background-color, border, box-shadow;
    transition-duration: 0.5s;
    cursor: not-allowed;
    position: relative;
    background-color: #00000010;
    backdrop-filter: blur(4px);
}

.bonus-button-body {
    width: 80%;
    height: 80%;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffffa2;
    transition-property: transform, background-color, border, box-shadow;
    transition-duration: 0.5s;
    cursor: not-allowed;
}

.bonus-button.available {
    /* border: 1px solid #f7c99b; */
    border: 1px solid white;
    box-shadow: 0px 0px 4px 0px #707070aa;
}

.bonus-button-body.available {
    background-color: #ffffffa2;
}

.bonus-button.access {
    /* border: 1px solid #e2a05f; */
    border: 1px solid #4a4a4a;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #707070aa;
}

.bonus-button-body.access {
    background-color: #4a4a4a;
    cursor: pointer;
}

.bonus-button.access:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 6px 0px #ff6363aa;
    border: 1px solid #e52222;
    /* box-shadow: 0px 0px 6px 0px #4a4a4aa4;
    border: 1px solid white; */
}

.bonus-button.access:hover .bonus-button-body {
    background-color: #e52222;
}

.bonus-button.access:active {
    box-shadow: 0px 0px 8px 0px #ff3535aa;
    /* box-shadow: 0px 0px 8px 0px #4a4a4ad4; */
}

.bonus-button.active {
    box-shadow: 0px 0px 6px 0px #ff6363aa;
    border: 1px solid #e52222;
}

.bonus-button-body.active {
    background-color: #e52222;
}

.bonus-button-points-label {
    position: absolute;
    left: calc(var(--card-width) / 2);
    padding: 0 0.5rem;
    font-size: calc(var(--font-size) / 1.5);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s;
    /* color: #439906; */
    /* text-shadow: 2px -1px 3px #d8d8d88a; */
    color: #f59116;
    text-shadow: 0px 0px 1px #4608008a, 0px 0px 4px #ff00008b;
}

.bonus-button-points-label[data-player="2"]{
    right: calc((var(--card-width) / 2));
    left: auto;
}

/* 
.bonus-button {
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.bonus-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff8827, #ff7300, #a93333, #c08600, #c18a00, #b72828);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.bonus-button:hover:before {
    opacity: 1;
}

.bonus-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */