.sideframe {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    column-gap: 0;
}

.sideframe-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    row-gap: 1rem;
    padding: 1rem 0.5rem 2rem 0.5rem;
}

.sideframe-cards-container {
    width: calc(var(--card-width) + 2rem);
    height: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    box-sizing: border-box;
    border: 5px solid #ffffffa2;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    background-color: #ffffff2a;
}
  
.cards-stack {
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.cards-stack-label {
    font-size: calc(var(--font-size) * 0.75);
    color: #5d5d5d;
    text-shadow: 0px 0px 3px #d8d8d88a;
}

.stacks-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    column-gap: 1rem;
    height: 100%;
}

.stacks-div[data-player="2"] {
    flex-direction: row-reverse;
}

.player-score-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.player-score {
    height: calc(var(--font-size) * 2.75);
    font-weight: 600;
    color: #5d5d5d;
    transition: transform 0.5s;
    text-shadow: 0px 0px 3px #d8d8d88a;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size) * 2.5);
}

.player-score.greens {
    /* font-size: calc(var(--font-size) * 2.5);
    font-family: 'greens'; */
}

.player-score.blacks {
    /* font-size: calc(var(--font-size) * 2);
    font-family: 'blacks'; */
    /* font-weight: 400; */
}
  
.player-score.add {
    transform: scale(1.25);
    color: #f59116;
    text-shadow: 0px 0px 3px #d8d8d88a, 0px 0px 1px #4608008a, 0px 0px 5px #ff00008b;
}
  
.player-score.subtract {
    transform: scale(0.85);
    color: #990606;
    text-shadow: 0px 0px 3px #d8d8d88a, 0px 0px 1px #0000008a, 0px 0px 5px #9300009b;
}
  
.player-name-div {
    position: relative;
    /* max-width: calc(var(--card-width) * 1.1); */
}
  
.player-name {
    /* font-size: var(--font-size); */
    color: #5d5d5d;
    font-weight: 600;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0.5rem;
    text-shadow: 0px 0px 3px #d8d8d88a;
    height: calc(var(--font-size) * 1.5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-size) * 1.25);
}

.player-name.greens {
    /* font-size: calc(var(--font-size) * 1.5);
    font-family: 'greens'; */
}

.player-name.blacks {
    /* font-size: calc(var(--font-size) * 1.25);
    font-family: 'blacks'; */
    /* font-weight: 400; */
}
  
.player-underline {
    position: absolute;
    width: 0%;
    height: 0.25rem;
    /* background-color: #c38bfa; */
    background-color: #ff48009c;
    transition: width 0.5s;
    right: 0;
    box-shadow: 0px 3px 6px 0px #e522228f;
    border-radius: 4px;
}
  
.player-underline.active {
    width: 100%;
    left: 0;
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 1200px) {
    .sideframe {
        /* width: auto;
        height: 100%; */
    }

    .sideframe-main {
        flex-direction: column;
        column-gap: 1rem;
        height: 100%;
        padding: 1rem 0.5rem;
    }

    .stacks-div {
        /* flex-direction: column;
        row-gap: 0.5rem;
        width: calc(var(--card-width) + 1rem); */
        display: none
    }

    .stacks-div[data-player="2"] {
        flex-direction: column;
    }

    .sideframe-cards-container {
        position: relative;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .cards-stack {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .cards-stack-label {
        position: absolute;
        right: 1rem;
        font-size: calc(var(--font-size)* 1);
    }

    .player-score-div {
        height: auto;
        flex-direction: column-reverse;
        padding: calc(var(--font-size) / 2);
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .player-score-div[data-player="2"] {
        left: auto;
        right: 0;
    }

    .player-score {
        font-size: calc(var(--font-size) * 1.5);
    }
}