@font-face {
  font-family: 'Kurale';
  src: url('./components/Fonts/Kurale.ttf');
}

:root {
  --card-width: auto;
  --font-size: calc(var(--card-width) / 4);
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Kurale';
  cursor: default;
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainframe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  column-gap: 0.5rem;
}

.mainframe.preparation {
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 1rem;
  color: #5d5d5d;
}