@font-face {
  font-family: 'Kurale';
  src: url('./components/Fonts/Kurale.ttf');
}

@font-face {
  font-family: 'Mason';
  src: url('./components/Fonts/Mason.ttf');
}

:root {
  --card-width: auto;
  --font-size: calc(var(--card-width) / 3.5);
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Mason';
  cursor: default;
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainframe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  /* width: 100%;
  max-width: 100vh;
  height: 100%; */
}

.mainframe.preparation {
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 1rem;
  color: #5d5d5d;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .mainframe {
    /* flex-direction: column;
    row-gap: 1rem; */
  }
}